@model List<EntityLayer.Entities.Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_WhosalerLayout.cshtml";
}

<h4>CategoryList</h4>


<table class="table">
    <tr>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Ürünlerini Gör</th>

    </tr>
    <tbody>
        @foreach(var i in Model)
        {
        <tr>
            <td>@i.Name</td>
            <td>@i.Description</td>
            <td><a class="btn btn-success" href="/wholesaler/Home/ProductsList/@i.Id">Ürünlerini Gör</a></td>
        </tr>
        }
    </tbody>
</table>

