
@{
    ViewData["Title"] = "AddStockCategory";
    Layout = "~/Views/Shared/_MarketLayout.cshtml";
}

<h1>AddStockCategory</h1>


<form method="post" enctype="multipart/form-data">
    <div class="form-group col-md-3">
        <label for="exampleInputEmail1">Kategori adı</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="Name" aria-describedby="emailHelp" placeholder="Kategori Adı">
    </div>
    <br />
    <div class="form-group col-md-3">
        <label for="exampleInputEmail1">Açıklama</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="Description" aria-describedby="emailHelp" placeholder="Açıklama">
    </div>
    <br />
   
    <div class="form-group col-md-3">
        <label for="exampleInputEmail1">Resim Ekleyin</label>
        <input type="file" class="form-control" id="exampleInputEmail1" name="Image" aria-describedby="emailHelp" placeholder="Resim">
    </div>


    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>